<div class="container">
	<div class="box column">
		<div class="greeting-top">
			<%= image_tag("chandler.jpg", class:"chandler") %>
			<div class="greeting-text">
				<h1>this is me</h1>
				<p>My name is Chandler, and I'm a developer. I spent several years taking a job that's indisputably important and good - teaching - and trying to become good at it. It didn't work, I remain a bad teacher. Now I'm trying things the other way: To take something I'm actually good at and love - coding, web dev, building things on computers - and find something important and good to do with it. Right now I'm finishing up a Web Development Immersive course at General Assembly, building some sites for my friends' bands, and trying to teach myself React.
				</p>
				<p>
				A few other things about me: I'm a genuine-article Atlanta native, I'm a Kentucky colonel (like Colonel Sanders), and I absolutely shred at guitar.
				</p>
			</div>
		</div>
		<div class="greeting-bottom">
			<%= link_to 'Ask Me Some Questions', answers_path %>
			<%= link_to 'Mah Map', map_path %>
			<%= link_to 'Projects', root_path(:anchor => "projects") %>
			<%= link_to 'Contact', root_path(:anchor => "contact") %>
		</div>
	</div>
</div>
<div class="container" id="projects">
	<div class="work">
		<div class="project">
			<%= image_tag("totally_righteous.png", class:"project-image") %>
			<%= link_to image_tag("github.png", class:"link-image"), "https://github.com/chandlerkelley/totally-righteous" %>
			<%= link_to image_tag("link.png", class:"link-image"), "https://chandlerkelley.github.io/totally-righteous/" %>
		</div>
		<div class="project">
			<%= image_tag("diddy.png", class:"project-image") %>
			<%= link_to image_tag("github.png", class:"link-image"), "https://github.com/chandlerkelley/diddy-in-repose" %>
			<%= link_to image_tag("link.png", class:"link-image"), "http://diddy-in-repose.heroku.com/" %>
		</div>
		<div class="project">
			<%= image_tag("drum_machine.png", class:"project-image") %>
			<%= link_to image_tag("github.png", class:"link-image"), "https://github.com/chandlerkelley/drum-machine" %>
			<%= link_to image_tag("link.png", class:"link-image"), "https://chandlerkelley.github.io/drum-machine/" %>
		</div>
		<div class="project">
			<%= image_tag("on_tap.png", class:"project-image") %>
			<%= link_to image_tag("github.png", class:"link-image"), "https://github.com/chandlerkelley/whats-on-tap" %>
			<%= link_to image_tag("link.png", class:"link-image"), "http://whats-on-tap.heroku.com/" %>
		</div>
	</div>
</div>
<div class="container" id="contact">
	<div class="box contact">
	<h2>contact me</h2>
		<p>chandler.t.kelley@gmail.com</p>
		<%= link_to "LinkedIn", "https://www.linkedin.com/in/chandlerkelley" %>
		<%= link_to "Github", "https://github.com/chandlerkelley/" %>
	</div>
</div>