<div class="container">
  <div class="box answer-container">
    <div class="answer-head">
      <h1>Q&A</h1>
      <div class="answer-links">
        <%= link_to "New Question", new_answer_path %>
        <%= link_to "Home", root_path %>
      </div>
    </div>
    <div class="answer-body">
      <p id="notice"><em><%= notice %></em></p><br>
      <% @answers.each do |answer| %>
        <p><b><%= answer.question %></b></p>
        <p><%= answer.answer %></p>
        <%= link_to "(edit question)", edit_answer_path(answer) %>
        <%= link_to "(delete question)", answer, method: :delete, data: { confirm: 'Are you sure?' } %>
        <br><br>
      <% end %>
    </div>
  </div>
</div>
